// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  font-family: "proxima-nova", sans-serif;
  padding-top: 70px;
  padding-bottom: 20px;
  transition: background 0.3s;
}

.container {
  max-width: 960px;
}

.navbar-brand {
  font-family: "grafolita-script", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.ir-icons-container {
  color: #fff;
}

.ir-icon-container {
  display: inline-block;
  margin: 5px;
}